/***** Fonts *****/
/* English */
@font-face {
  font-family: "popins-light";
  src: url("../fonts/popins/Poppins-Light.woff2") format("woff2"),
    url("../fonts/popins/Poppins-Light.otf") format("opentype"),
    url("../fonts/popins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "popins-regular";
  src: url("../fonts/popins/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/popins/Poppins-Regular.otf") format("opentype"),
    url("../fonts/popins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "popins-medium";
  src: url("../fonts/popins/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/popins/Poppins-Medium.otf") format("opentype"),
    url("../fonts/popins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "popins-semibold";
  src: url("../fonts/popins/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/popins/Poppins-SemiBold.otf") format("opentype"),
    url("../fonts/popins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "popins-bold";
  src: url("../fonts/popins/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/popins/Poppins-Bold.otf") format("opentype"),
    url("../fonts/popins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Arabic */
@font-face {
  font-family: "tajawal-light";
  src: url("../fonts/tajawal/Tajawal-Light.woff2") format("woff2"),
    url("../fonts/tajawal/Tajawal-Light.otf") format("opentype"),
    url("../fonts/tajawal/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "tajawal-regular";
  src: url("../fonts/tajawal/Tajawal-Regular.woff2") format("woff2"),
    url("../fonts/tajawal/Tajawal-Regular.otf") format("opentype"),
    url("../fonts/tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "tajawal-medium";
  src: url("../fonts/tajawal/Tajawal-Medium.woff2") format("woff2"),
    url("../fonts/tajawal/Tajawal-Medium.otf") format("opentype"),
    url("../fonts/tajawal/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "tajawal-bold";
  src: url("../fonts/tajawal/Tajawal-Bold.woff2") format("woff2"),
    url("../fonts/tajawal/Tajawal-Bold.otf") format("opentype"),
    url("../fonts/tajawal/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
}

/***** Fonts *****/

/* Global */
:root {
  /* Color */
  --bs-primary: #002d57 !important;
  --primary-II: #00519e;
  --bg-light-I: #fcf9f0 !important;
  --bs-accent: #a11a16;
  --accent-I: #850704;
  --bs-headline-dark: #1d1d1d;
  --heading-gray: #929292;
  --heading-green: #194c45;

  /* English Font (Popins) */
  --popins-l: "popins-light"; /* 300 */
  --popins-r: "popins-regular"; /* 400 */
  --popins-m: "popins-medium"; /* 500 */
  --popins-s: "popins-semiBold"; /* 600*/
  --popins-b: "popins-bold"; /* 700 */

  /* Arabic Font (Tajwal) */
  --tajawal-l: "tajawal-light";
  --tajawal-r: "tajawal-regular";
  --tajawal-m: "tajawal-medium";
  --tajawal-b: "tajawal-bold";
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

button {
  font-family: var(--popins-m) !important;
  text-transform: capitalize;
  font-size: 24px;
  background-color: transparent;
}

input,
textarea {
  font-family: var(--popins-r) !important;
}

div {
  font-family: var(--popins-m) !important;
}

.h-line-1 {
  width: 1136px;
  height: 1px;
  background-color: white;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  background-color: var(--bg-light-I);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--popins-b) !important;
}

h2 {
  font-size: 48px !important;
}
h5 {
  font-size: 1rem !important;
}

span,
p,
a {
  font-family: var(--popins-r) !important;
  margin: 0 !important;
}

button {
  border: none;
}
/* Global */

/* Padding */
.px-md-105 {
  padding-inline: 105px !important;
}

.py-18 {
  padding-block: 18px;
}

.py-32 {
  padding-block: 32px;
}

.p-10 {
  padding: 10px !important;
}
/* Padding */

/* Gap */
.gap-158 {
  gap: 158px !important;
}

.gap-48 {
  gap: 48px;
}

.gap-24 {
  gap: 24px;
}

.gap-8 {
  gap: 32px;
}

.gap-74 {
  gap: 74px;
}
/* Gap */

/* Font Size */
.fs-24 {
  font-size: 24px !important;
}
/* Font Size */

.container {
  max-width: 1920px !important;
}

/* Custom classes */
.sec-p {
  padding-inline: 104px;
  padding-block: 60px;
}

.stroke-grey-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.stroke-grey-btn i {
  font-size: 16px;
  padding: 14.5px;
  transition: all 0.3s ease;
  border: 1px solid var(--heading-gray);
  border-radius: 0 12px 12px 0;
  border-inline-start: none;
}
.span_b {
  font-size: 14px;
  transition: all 0.3s ease;
  border: 1px solid var(--heading-gray);
  border-radius: 12px 0 0 12px;
  padding: 12px 14px;
}
.stroke-grey-btn:hover .span_b {
  color: #fff;
  background-color: var(--bs-primary);
  border-radius: 50px;
  color: #fff;
}

.stroke-grey-btn:hover i {
  color: #fff;
  background-color: var(--bs-primary);
  border-radius: 50%;
}
.stroke-grey-btn:hover .bx-right-arrow-alt {
  transform: rotate(300deg);
  transform: scale(1) translate(10px, -10px) rotate(300deg);
}

.light-text {
  color: var(--heading-gray, #929292);
  font-family: var(--popins-r);
}
.double-title {
  text-align: center;
  color: var(--bs-headline-dark) !important;
}
.double-title span {
  color: var(--bs-accent) !important;
  font-family: var(--popins-s) !important;
}

.date-box-v {
  display: flex;
  width: 100%;
  padding: 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid var(--AOU-System-Gray, #929292);
  background: var(--AOU-System-Light, #fcf9f0);
}
.date-box-v__day {
  display: flex;
  padding: 10px 13px 10px 12px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 50px;
  border: 2px solid var(--AOU-System-Gray, #929292);
  background: var(--AOU-System-White, #fff);
  color: var(--AOU-System-Primary, #002d57);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.date-box-v__month {
  color: var(--AOU-System-Primary, #002d57);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon-box-h {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.icon-box-h span {
  color: var(--heading-green);
  font-family: var(--popins-s);
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}

.active_nav_item {
  color: white !important;
  border-radius: 8px;
  background-color: var(--bs-primary) !important;
  padding-inline: 20px !important;
  padding-block: 10px !important;
}

.text-heading-gray {
  color: var(--heading-gray) !important;
}

.stroke-btn {
  color: var(--bs-primary, #002d57);
  background-color: var(--bg-light-I);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid var(--bs-primary);
  padding-block: 8px;
  padding-inline: 16px;
}

.main-btn {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--bs-primary, #002d57);
  color: white;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.accent-btn {
  border-radius: 8px;
  background-color: var(--bs-accent);
  flex-shrink: 0;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  transition: background-color 0.1s ease-in;
}

.accent-btn:hover {
  background-color: var(--accent-I);
}
.btn-outline-secondary {
  transition: background-color 0.2s ease, color 0.2 ease !important;
}
.btn-outline-secondary:hover {
  background-color: var(--bg-light-I) !important;
  color: var(--bs-headline-dark) !important;
}

.bg-light-I {
  background-color: var(--bg-light-I) !important;
}
/* Custom classes */

.fs-14 {
  font-size: 14px !important;
}

/****** S-Slider ******/
/* Slider container */
.slider {
  overflow: hidden !important;
  margin: auto;
}

/* Container for slides */
.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: space-between;
}

/* Individual slide */
.slide {
  min-width: calc(100% / 4);
  box-sizing: border-box;
  padding: 0 16px;
}

.slide img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Navigation buttons */
button.prev,
button.next {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bs-primary);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.prev {
  left: 10%;
}

button.next {
  right: 10%;
}

.offcanvas {
  transition: transform 0.5s ease-in-out !important; /* Smooth transition */
}

.offcanvas.show {
  transform: translateX(0) !important; /* Ensure it moves smoothly */
}


/****** E-Slider ******/

